.cabecalho{
    grid-area: cabecalho;
    background-color: var(--bg-header);
    padding: var(--std-padding);
}

.cabecalho-sub{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}