.publicacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.publicacoes-botoes{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
